<%= form_for(@owner) do |f| %>
  <% if @owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% @owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "field">
    <%= f.label :company %><br>
    <%= f.check_box :company %>
  </div>
  <div class = "field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class = "field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class = "field">
    <%= f.label :birthday %><br>
    <%= f.datetime_select :birthday, include_blank: true %>
  </div>
  <div class = "field">
    <%= f.label :owner_national_number %><br>
    <%= f.datetime_select :owner_national_number %>
  </div>

  <div class = "actions">
    <%= f.submit %>
  </div>
<% end %>
