<div class = 'container'>
  <main class = 'col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content' role = 'main'>
    <div class = 'alert alert-primary' role = 'alert'>
      <p id = 'notice'><%= notice %></p>
    </div>

    <p>
      <strong>Name:</strong>
      <%= @owner.name %>
    </p>

    <p>
      <strong>Company Name:</strong>
      <%= @owner.company_name %>
    </p>

    <p>
      <strong>Birthday:</strong>
      <%= @owner.birthday %>
    </p>

    <p>
      <strong>Company?:</strong>
      <%= @owner.company %>
    </p>

    <p>
      <strong>CPF/CNPJ:</strong>
      <%= @owner.owner_national_number %>
    </p>

    <%= link_to 'Edit', edit_owner_path(@owner) %> |
    <%= link_to 'Back', owners_path %>
  </main>
</div>
