<p id = "notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>Main account:</strong>
  <%= @account.parent %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @account.owner %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
